# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log

# Virtual envs
venv/
.venv/
env/
**/venv/
**/.venv/

# Node / Frontend
node_modules/
dist/
build/
.vite/

# Env
.env
*.env

# IDE / OS
.vscode/
.DS_Store
Thumbs.db

# Windows download markers
*:Zone.Identifier
