fastapi
uvicorn[standard]
pymongo
pydantic-settings
python-multipart
langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-qdrant
langchain-ollama>=0.1.0
qdrant-client
pdfplumber
pypdf
PyPDF2
spacy
docx2txt
fastembed
python-dotenv
httpx
