MONGODB_URI=mongodb://localhost:27017
MONGODB_DB_NAME=chatbot_juridique
MONGODB_DOCUMENTS_COLLECTION=documents
QDRANT_URL=http://localhost:6333
QDRANT_COLLECTION_NAME=juridique_docs
OLLAMA_URL=http://localhost:11434
OLLAMA_MODEL=llama3
RETRIEVER_K=5
SPACY_MODEL=fr_core_news_sm
CHUNK_SIZE=900
CHUNK_OVERLAP=150
UPLOADS_DIR=data/uploads
INDEXING_RESULTS_DIR=data/indexing_results
